
<h2>Clean Products</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Anticeptioco</td>
        <td>$10</td>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', 'Anticeptioco']">Detalle</button>
      </tr>


      <tr *ngFor="let product of productsLista">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td [ngClass]="{'red':product.price > 500}">{{product.price | currency}}</td>
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', product.id]">Detalle</button>
      </tr>

    </tbody>
  </table>